---

---

<nav class="navigation">
  <h1 class="navigation-logo">
    <a href="/" class="navigation-logo-link">astro-template</a>
  </h1>
  <ul class="navigation-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/404">Not Found</a>
    </li>
  </ul>
</nav>
