---
import '@/styles/styles.scss';

import Seo from "@/components/Global/Seo.astro"
import Navigation from "@/components/Navigation.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <Seo
      title="astro-template"
      keywords="boilerplate",
      description="A template with Astro with focus on performance and best practices."
      generator="Astro"
      url={import.meta.env.ASTRO_URL}
      image="/images/meta-tags/page-view.webp"
      imageAlt="Alternative description"
      author="author"
      authorUrl="https://example.com"
      creator="Creator"
      publisher="Publisher"
      twitterCreator="@twitter"
      twitterSiteId="1467726470533754880"
      twitterCreatorId="1467726470533754880"
    />
  </head>

  <body>
    <div class="container">
      <Navigation />

      <Header />

      <main class="main">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
